.location_content {
    color: #888888;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    text-align: left;
    width: 100%;
}

.location_content h1 {
    margin: 0;
}

.weather_location_content {
    box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
    font-family: 'Roboto', sans-serif;
    padding: 25px;
    width: 400px;
}